<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href="apple-touch-icon.png" rel="apple-touch-icon">
<link href="favicon.png" rel="icon">
<meta name="author" content="Nghia Minh Luong">
<meta name="keywords" content="Default Description">
<meta name="description" content="Default keyword">
<title>耐克首页 – Nike.com (中国).Nike.com CN</title>
<!-- Fonts-->
<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="icon" href="images/logo.png" type="image/x-icon" />
<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="plugins/ps-icon/style.css">
<!-- CSS Library-->
<link rel="stylesheet" href="plugins/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="plugins/owl-carousel/assets/owl.carousel.css">
<link rel="stylesheet" href="plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
<link rel="stylesheet" href="plugins/slick/slick/slick.css">
<link rel="stylesheet" href="plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="pluginsplugins/Magnific-Popup/dist/magnific-popup.css">
<link rel="stylesheet" href="plugins/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="plugins/revolution/css/settings.css">
<link rel="stylesheet" href="plugins/revolution/css/layers.css">
<link rel="stylesheet" href="plugins/revolution/css/navigation.css">
<!-- Custom-->
<link rel="stylesheet" href="css/style.css">
<!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
<!--WARNING: Respond.js doesn't work if you view the page via file://-->
<!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->
<body class="ps-loading">
<div class="header--sidebar"></div>
<header class="header">
  <div class="header__top">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="index.html">首页</a></li>
					<li ><a href="login.html">登录注册</a></li>
					<li class="dropdown">
						<a href="#" >
							关于我们</b>
						</a>

					</li>
				</ul>
			</div>
		</div>
	</nav>
  </div>
  <nav class="navigation">
	<div class="container-fluid">
	  <div class="navigation__column left">
		<div class="header__logo"><a class="ps-logo" href="index.html"><img src="images/logo.jpg" alt=""></a></div>
	  </div>
	  <div class="navigation__column center">
			<ul class="main-menu menu">
			  <li class="menu-item menu-item-has-children has-mega-menu"><a href="#">男子</a>
				<div class="mega-menu">
				  <div class="mega-wrap">
					<div class="mega-column">
					  <ul class="mega-item mega-features">
						<li><a href="product-listing.html">新版本</a></li>
						<li><a href="product-listing.html">功能鞋</a></li>
						<li><a href="product-listing.html">最畅销</a></li>
						<li><a href="product-listing.html">现在趋势</a></li>
						<li><a href="product-listing.html">夏季必备</a></li>
						<li><a href="product-listing.html">母亲节系列</a></li>
						<li><a href="product-listing.html">风扇齿轮</a></li>
					  </ul>
					</div>
					<div class="mega-column">
					  <h4 class="mega-heading">鞋</h4>
					  <ul class="mega-item">
						<li><a href="product-listing.html">所有鞋子</a></li>
						<li><a href="product-listing.html">运动鞋</a></li>
						<li><a href="product-listing.html">训练与健身</a></li>
						<li><a href="product-listing.html">篮球鞋</a></li>
						<li><a href="product-listing.html">足球鞋</a></li>
						<li><a href="product-listing.html">棒球</a></li>
					  </ul>
					</div>
					<div class="mega-column">
					  <h4 class="mega-heading">服装</h4>
					  <ul class="mega-item">
						<li><a href="product-listing.html">压缩 & Nike Pro</a></li>
						<li><a href="product-listing.html">上衣 & T恤</a></li>
						<li><a href="product-listing.html">Polo衫</a></li>
						<li><a href="product-listing.html">帽衫 & 针织衫</a></li>
						<li><a href="product-listing.html">夹克 & 背心</a></li>
						<li><a href="product-listing.html">裤子 & 裤袜</a></li>
						<li><a href="product-listing.html">短裤</a></li>
					  </ul>
					</div>
					
					<div class="mega-column">
					  <h4 class="mega-heading">品牌</h4>
					  <ul class="mega-item">
						<li><a href="product-listing.html">耐克</a></li>
						<li><a href="product-listing.html">乔丹</a></li>
						<li><a href="product-listing.html">匡威</a></li>
					  </ul>
					</div>
				  </div>
				</div>
			  </li>
			  <li class="menu-item"><a href="#">女生</a></li>
			  <li class="menu-item"><a href="#">儿童</a></li>
			  <li class="menu-item menu-item-has-children dropdown"><a href="#">新闻资讯</a>
					<ul class="sub-menu">
					  <li class="menu-item menu-item-has-children dropdown"><a href="#">博客网</a>
							<ul class="sub-menu">
							  <li class="menu-item"><a href="#">Blog Grid 1</a></li>
							  <li class="menu-item"><a href="#">Blog Grid 2</a></li>
							</ul>
					  </li>
					  <li class="menu-item"><a href="#">博客列表</a></li>
					</ul>
			  </li>
			  <li class="menu-item menu-item-has-children dropdown"><a href="#">联系我们</a>
					<ul class="sub-menu">
					  <li class="menu-item"><a href="#">Contact Us #1</a></li>
					  <li class="menu-item"><a href="#">Contact Us #2</a></li>
					</ul>
			  </li>
			</ul>
	  </div>
	  <div class="navigation__column right">
		<form class="ps-search--header" action="do_action" method="post">
		  <input class="form-control" type="text" placeholder="Search Product…">
		  <button><i class="ps-icon-search"></i></button>
		</form>
		<div class="ps-cart"><a class="ps-cart__toggle" href="#"><span><i>20</i></span><i class="ps-icon-shopping-cart"></i></a>
		  <div class="ps-cart__listing">
			<div class="ps-cart__content">
			  <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
				<div class="ps-cart-item__thumbnail"><a href="product-detail.html"></a><img src="images/cart-preview/1.jpg" alt=""></div>
				<div class="ps-cart-item__content"><a class="ps-cart-item__title" href="product-detail.html">Amazin’ Glazin’</a>
				  <p><span>Quantity:<i>12</i></span><span>Total:<i>£176</i></span></p>
				</div>
			  </div>
			  <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
				<div class="ps-cart-item__thumbnail"><a href="product-detail.html"></a><img src="images/cart-preview/2.jpg" alt=""></div>
				<div class="ps-cart-item__content"><a class="ps-cart-item__title" href="product-detail.html">The Crusty Croissant</a>
				  <p><span>Quantity:<i>12</i></span><span>Total:<i>£176</i></span></p>
				</div>
			  </div>
			  <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
				<div class="ps-cart-item__thumbnail"><a href="product-detail.html"></a><img src="images/cart-preview/3.jpg" alt=""></div>
				<div class="ps-cart-item__content"><a class="ps-cart-item__title" href="product-detail.html">The Rolling Pin</a>
				  <p><span>Quantity:<i>12</i></span><span>Total:<i>£176</i></span></p>
				</div>
			  </div>
			</div>
			<div class="ps-cart__total">
			  <p>Number of items:<span>36</span></p>
			  <p>Item Total:<span>£528.00</span></p>
			</div>
			<div class="ps-cart__footer"><a class="ps-btn" href="cart.html">Check out<i class="ps-icon-arrow-left"></i></a></div>
		  </div>
		</div>
		<div class="menu-toggle"><span></span></div>
	  </div>
	</div>
  </nav>
</header>
<div class="header-services">
  <div class="ps-services owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="7000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="false" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
	<p class="ps-service"><i class="ps-icon-delivery"></i><strong>免费送货</strong>: 在鞋店每笔订单均可享受免费配送</p>
	<p class="ps-service"><i class="ps-icon-delivery"></i><strong>免费送货</strong>: 在鞋店每笔订单均可享受免费配送</p>
	<p class="ps-service"><i class="ps-icon-delivery"></i><strong>免费送货</strong>: 在鞋店每笔订单均可享受免费配送</p>
  </div>
</div>
<main class="ps-main">
  <div class="ps-banner">
	<div class="rev_slider fullscreenbanner" id="home-banner">
	  <ul>
		<li class="ps-banner" data-index="rs-2972" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-rotate="0"><img class="rev-slidebg" src="images/slider/3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>
		  <div class="tp-caption ps-banner__header" id="layer-1" data-x="left" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-120','-150','-170']" data-width="['none','none','none','400']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
			<p>2019 三月<br> Nike SB Dunk Low Pro</p>
		  </div>
		  <div class="tp-caption ps-banner__title" id="layer21" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
			<p class="text-uppercase">SUBA</p>
		  </div>
		  <div class="tp-caption ps-banner__description" id="layer211" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
			<p>Suba想要某种能够代表他的东海岸血统<br/>尤其是他的家乡 <br/> 纽约市的东西.</p>
		  </div><a class="tp-caption ps-btn" id="layer31" href="#" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','200','200']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1500,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">立即购买 <i class="ps-icon-next"></i></a>
		</li>
		<li class="ps-banner ps-banner--white" data-index="rs-100" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-rotate="0"><img class="rev-slidebg" src="images/slider/2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>
		  <div class="tp-caption ps-banner__header" id="layer20" data-x="left" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-120','-150','-170']" data-width="['none','none','none','400']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
			<p>最好的时间 <br> 这个夏天</p>
		  </div>
		  <div class="tp-caption ps-banner__title" id="layer339" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
			<p class="text-uppercase">复苏</p>
		  </div>
		  <div class="tp-caption ps-banner__description" id="layer2-14" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
			<p>不断的进化<br> 只为了更好的 <br/> 运动表现.</p>
		  </div><a class="tp-caption ps-btn" id="layer364" href="#" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','200','200']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1500,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">立即购买<i class="ps-icon-next"></i></a>
		</li>
	  </ul>
	</div>
  </div>
  <div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >自助建站</a></div>
  <div class="ps-section--features-product ps-section masonry-root pt-100 pb-100">
	<div class="ps-container">
	  <div class="ps-section__header mb-50">
		<h3 class="ps-section__title" data-mask="features">-特色产品</h3>
		<ul class="ps-masonry__filter">
		  <li class="current"><a href="#" data-filter="*">全部 <sup>8</sup></a></li>
		  <li><a href="#" data-filter=".nike">耐克 <sup>1</sup></a></li>
		  <li><a href="#" data-filter=".adidas">乔丹 <sup>1</sup></a></li>
		  <li><a href="#" data-filter=".men">男生 <sup>1</sup></a></li>
		  <li><a href="#" data-filter=".women">女生<sup>1</sup></a></li>
		  <li><a href="#" data-filter=".kids">儿童 <sup>4</sup></a></li>
		</ul>
	  </div>
	  <div class="ps-section__content pb-50">
		<div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
		  <div class="ps-masonry">
			<div class="grid-sizer"></div>
			<div class="grid-item kids">
			  <div class="grid-item__content-wrapper">
				<div class="ps-shoe mb-30">
				  <div class="ps-shoe__thumbnail">
					<div class="ps-badge"><span>New</span></div>
					<div class="ps-badge ps-badge--sale ps-badge--2nd"><span>-35%</span></div><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/shoe/1.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
				  </div>
				  <div class="ps-shoe__content">
					<div class="ps-shoe__variants">
					  <div class="ps-shoe__variant normal"><img src="images/shoe/2.jpg" alt=""><img src="images/shoe/3.jpg" alt=""><img src="images/shoe/4.jpg" alt=""><img src="images/shoe/5.jpg" alt=""></div>
					  <select class="ps-rating ps-shoe__rating">
						<option value="1">1</option>
						<option value="1">2</option>
						<option value="1">3</option>
						<option value="1">4</option>
						<option value="2">5</option>
					  </select>
					</div>
					<div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">Air Jordan 7 Retro</a>
					  <p class="ps-shoe__categories"><a href="#">Men shoes</a>,<a href="#"> Nike</a>,<a href="#"> Jordan</a></p><span class="ps-shoe__price">
						<del>£220</del> £ 120</span>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="grid-item nike">
			  <div class="grid-item__content-wrapper">
				<div class="ps-shoe mb-30">
				  <div class="ps-shoe__thumbnail"><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/shoe/2.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
				  </div>
				  <div class="ps-shoe__content">
					<div class="ps-shoe__variants">
					  <div class="ps-shoe__variant normal"><img src="images/shoe/2.jpg" alt=""><img src="images/shoe/3.jpg" alt=""><img src="images/shoe/4.jpg" alt=""><img src="images/shoe/5.jpg" alt=""></div>
					  <select class="ps-rating ps-shoe__rating">
						<option value="1">1</option>
						<option value="1">2</option>
						<option value="1">3</option>
						<option value="1">4</option>
						<option value="2">5</option>
					  </select>
					</div>
					<div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">Air Jordan 7 Retro</a>
					  <p class="ps-shoe__categories"><a href="#">Men shoes</a>,<a href="#"> Nike</a>,<a href="#"> Jordan</a></p><span class="ps-shoe__price"> £ 120</span>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="grid-item adidas">
			  <div class="grid-item__content-wrapper">
				<div class="ps-shoe mb-30">
				  <div class="ps-shoe__thumbnail"><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/shoe/3.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
				  </div>
				  <div class="ps-shoe__content">
					<div class="ps-shoe__variants">
					  <div class="ps-shoe__variant normal"><img src="images/shoe/2.jpg" alt=""><img src="images/shoe/3.jpg" alt=""><img src="images/shoe/4.jpg" alt=""><img src="images/shoe/5.jpg" alt=""></div>
					  <select class="ps-rating ps-shoe__rating">
						<option value="1">1</option>
						<option value="1">2</option>
						<option value="1">3</option>
						<option value="1">4</option>
						<option value="2">5</option>
					  </select>
					</div>
					<div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">Air Jordan 7 Retro</a>
					  <p class="ps-shoe__categories"><a href="#">Men shoes</a>,<a href="#"> Nike</a>,<a href="#"> Jordan</a></p><span class="ps-shoe__price"> £ 120</span>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="grid-item kids">
			  <div class="grid-item__content-wrapper">
				<div class="ps-shoe mb-30">
				  <div class="ps-shoe__thumbnail">
					<div class="ps-badge ps-badge--sale"><span>-35%</span></div><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/shoe/4.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
				  </div>
				  <div class="ps-shoe__content">
					<div class="ps-shoe__variants">
					  <div class="ps-shoe__variant normal"><img src="images/shoe/2.jpg" alt=""><img src="images/shoe/3.jpg" alt=""><img src="images/shoe/4.jpg" alt=""><img src="images/shoe/5.jpg" alt=""></div>
					  <select class="ps-rating ps-shoe__rating">
						<option value="1">1</option>
						<option value="1">2</option>
						<option value="1">3</option>
						<option value="1">4</option>
						<option value="2">5</option>
					  </select>
					</div>
					<div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">Air Jordan 7 Retro</a>
					  <p class="ps-shoe__categories"><a href="#">Men shoes</a>,<a href="#"> Nike</a>,<a href="#"> Jordan</a></p><span class="ps-shoe__price">
						<del>£220</del> £ 120</span>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="grid-item men">
			  <div class="grid-item__content-wrapper">
				<div class="ps-shoe mb-30">
				  <div class="ps-shoe__thumbnail"><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/shoe/5.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
				  </div>
				  <div class="ps-shoe__content">
					<div class="ps-shoe__variants">
					  <div class="ps-shoe__variant normal"><img src="images/shoe/2.jpg" alt=""><img src="images/shoe/3.jpg" alt=""><img src="images/shoe/4.jpg" alt=""><img src="images/shoe/5.jpg" alt=""></div>
					  <select class="ps-rating ps-shoe__rating">
						<option value="1">1</option>
						<option value="1">2</option>
						<option value="1">3</option>
						<option value="1">4</option>
						<option value="2">5</option>
					  </select>
					</div>
					<div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">Air Jordan 7 Retro</a>
					  <p class="ps-shoe__categories"><a href="#">Men shoes</a>,<a href="#"> Nike</a>,<a href="#"> Jordan</a></p><span class="ps-shoe__price"> £ 120</span>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="grid-item women">
			  <div class="grid-item__content-wrapper">
				<div class="ps-shoe mb-30">
				  <div class="ps-shoe__thumbnail"><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/shoe/6.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
				  </div>
				  <div class="ps-shoe__content">
					<div class="ps-shoe__variants">
					  <div class="ps-shoe__variant normal"><img src="images/shoe/2.jpg" alt=""><img src="images/shoe/3.jpg" alt=""><img src="images/shoe/4.jpg" alt=""><img src="images/shoe/5.jpg" alt=""></div>
					  <select class="ps-rating ps-shoe__rating">
						<option value="1">1</option>
						<option value="1">2</option>
						<option value="1">3</option>
						<option value="1">4</option>
						<option value="2">5</option>
					  </select>
					</div>
					<div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">Air Jordan 7 Retro</a>
					  <p class="ps-shoe__categories"><a href="#">Men shoes</a>,<a href="#"> Nike</a>,<a href="#"> Jordan</a></p><span class="ps-shoe__price"> £ 120</span>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="grid-item kids">
			  <div class="grid-item__content-wrapper">
				<div class="ps-shoe mb-30">
				  <div class="ps-shoe__thumbnail"><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/shoe/7.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
				  </div>
				  <div class="ps-shoe__content">
					<div class="ps-shoe__variants">
					  <div class="ps-shoe__variant normal"><img src="images/shoe/2.jpg" alt=""><img src="images/shoe/3.jpg" alt=""><img src="images/shoe/4.jpg" alt=""><img src="images/shoe/5.jpg" alt=""></div>
					  <select class="ps-rating ps-shoe__rating">
						<option value="1">1</option>
						<option value="1">2</option>
						<option value="1">3</option>
						<option value="1">4</option>
						<option value="2">5</option>
					  </select>
					</div>
					<div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">Air Jordan 7 Retro</a>
					  <p class="ps-shoe__categories"><a href="#">Men shoes</a>,<a href="#"> Nike</a>,<a href="#"> Jordan</a></p><span class="ps-shoe__price"> £ 120</span>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="grid-item kids">
			  <div class="grid-item__content-wrapper">
				<div class="ps-shoe mb-30">
				  <div class="ps-shoe__thumbnail"><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/shoe/8.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
				  </div>
				  <div class="ps-shoe__content">
					<div class="ps-shoe__variants">
					  <div class="ps-shoe__variant normal"><img src="images/shoe/2.jpg" alt=""><img src="images/shoe/3.jpg" alt=""><img src="images/shoe/4.jpg" alt=""><img src="images/shoe/5.jpg" alt=""></div>
					  <select class="ps-rating ps-shoe__rating">
						<option value="1">1</option>
						<option value="1">2</option>
						<option value="1">3</option>
						<option value="1">4</option>
						<option value="2">5</option>
					  </select>
					</div>
					<div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">Air Jordan 7 Retro</a>
					  <p class="ps-shoe__categories"><a href="#">Men shoes</a>,<a href="#"> Nike</a>,<a href="#"> Jordan</a></p><span class="ps-shoe__price"> £ 120</span>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <div class="ps-section--offer">
	<div class="ps-column"><a class="ps-offer" href="product-listing.html"><img src="images/banner/home-banner-1.png" alt=""></a></div>
	<div class="ps-column"><a class="ps-offer" href="product-listing.html"><img src="images/banner/home-banner-2.png" alt=""></a></div>
  </div>
  <div class="ps-section--sale-off ps-section pt-80 pb-40">
	<div class="ps-container">
	  <div class="ps-section__header mb-50">
		<h3 class="ps-section__title" data-mask="Sale off">- Hot Deal Today</h3>
	  </div>
	  <div class="ps-section__content">
		<div class="row">
			  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
				<div class="ps-hot-deal">
				  <h3>Nike DUNK Max 95 OG</h3>
				  <p class="ps-hot-deal__price">Only:  <span>£155</span></p>
				  <ul class="ps-countdown" data-time="December 13, 2017 15:37:25">
					<li><span class="hours"></span><p>Hours</p></li>
					<li class="divider">:</li>
					<li><span class="minutes"></span><p>minutes</p></li>
					<li class="divider">:</li>
					<li><span class="seconds"></span><p>Seconds</p></li>
				  </ul><a class="ps-btn" href="#">Order Today<i class="ps-icon-next"></i></a>
				</div>
			  </div>
			  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
				<div class="ps-hotspot"><a class="point first active" href="javascript:;"><i class="fa fa-plus"></i>
					<div class="ps-hotspot__content">
					  <p class="heading">JUMP TO HEADER</p>
					  <p>Dynamic Fit Collar en la zona del tobillo que une la parte inferior de la pierna y el pie sin reducir la libertad de movimiento.</p>
					</div></a><a class="point second" href="javascript:;"><i class="fa fa-plus"></i>
					<div class="ps-hotspot__content">
					  <p class="heading">JUMP TO HEADER</p>
					  <p>Dynamic Fit Collar en la zona del tobillo que une la parte inferior de la pierna y el pie sin reducir la libertad de movimiento.</p>
					</div></a><a class="point third" href="javascript:;"><i class="fa fa-plus"></i>
					<div class="ps-hotspot__content">
					  <p class="heading">JUMP TO HEADER</p>
					  <p>Dynamic Fit Collar en la zona del tobillo que une la parte inferior de la pierna y el pie sin reducir la libertad de movimiento.</p>
					</div></a><img src="images/hot-deal.png" alt=""></div>
			  </div>
		</div>
	  </div>
	</div>
  </div>
  <div class="ps-section ps-section--top-sales ps-owl-root pt-80 pb-80">
	<div class="ps-container">
	  <div class="ps-section__header mb-50">
		<div class="row">
			  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
				<h3 class="ps-section__title" data-mask="BEST SALE">- Top Sales</h3>
			  </div>
			  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
				<div class="ps-owl-actions"><a class="ps-prev" href="#"><i class="ps-icon-arrow-right"></i>Prev</a><a class="ps-next" href="#">Next<i class="ps-icon-arrow-left"></i></a></div>
			  </div>
		</div>
	  </div>
	  <div class="ps-section__content">
		<div class="ps-owl--colection owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="on">
		  <div class="ps-shoes--carousel">
			<div class="ps-shoe">
			  <div class="ps-shoe__thumbnail">
				<div class="ps-badge"><span>New</span></div><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/shoe/1.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
			  </div>
			  <div class="ps-shoe__content">
				<div class="ps-shoe__variants">
				  <div class="ps-shoe__variant normal"><img src="images/shoe/2.jpg" alt=""><img src="images/shoe/3.jpg" alt=""><img src="images/shoe/4.jpg" alt=""><img src="images/shoe/5.jpg" alt=""></div>
				  <select class="ps-rating ps-shoe__rating">
					<option value="1">1</option>
					<option value="1">2</option>
					<option value="1">3</option>
					<option value="1">4</option>
					<option value="2">5</option>
				  </select>
				</div>
				<div class="ps-shoe__detail"><a class="ps-shoe__name" href="product-detai.html">Air Jordan 7 Retro</a>
				  <p class="ps-shoe__categories"><a href="#">Men shoes</a>,<a href="#"> Nike</a>,<a href="#"> Jordan</a></p><span class="ps-shoe__price"> £ 120</span>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="ps-shoes--carousel">
			<div class="ps-shoe">
			  <div class="ps-shoe__thumbnail">
				<div class="ps-badge"><span>New</span></div>
				<div class="ps-badge ps-badge--sale ps-badge--2nd"><span>-35%</span></div><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/shoe/2.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
			  </div>
			  <div class="ps-shoe__content">
				<div class="ps-shoe__variants">
				  <div class="ps-shoe__variant normal"><img src="images/shoe/2.jpg" alt=""><img src="images/shoe/3.jpg" alt=""><img src="images/shoe/4.jpg" alt=""><img src="images/shoe/5.jpg" alt=""></div>
				  <select class="ps-rating ps-shoe__rating">
					<option value="1">1</option>
					<option value="1">2</option>
					<option value="1">3</option>
					<option value="1">4</option>
					<option value="2">5</option>
				  </select>
				</div>
				<div class="ps-shoe__detail"><a class="ps-shoe__name" href="product-detai.html">Air Jordan 7 Retro</a>
				  <p class="ps-shoe__categories"><a href="#">Men shoes</a>,<a href="#"> Nike</a>,<a href="#"> Jordan</a></p><span class="ps-shoe__price">
					<del>£220</del> £ 120</span>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="ps-shoes--carousel">
			<div class="ps-shoe">
			  <div class="ps-shoe__thumbnail">
				<div class="ps-badge"><span>New</span></div><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/shoe/3.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
			  </div>
			  <div class="ps-shoe__content">
				<div class="ps-shoe__variants">
				  <div class="ps-shoe__variant normal"><img src="images/shoe/2.jpg" alt=""><img src="images/shoe/3.jpg" alt=""><img src="images/shoe/4.jpg" alt=""><img src="images/shoe/5.jpg" alt=""></div>
				  <select class="ps-rating ps-shoe__rating">
					<option value="1">1</option>
					<option value="1">2</option>
					<option value="1">3</option>
					<option value="1">4</option>
					<option value="2">5</option>
				  </select>
				</div>
				<div class="ps-shoe__detail"><a class="ps-shoe__name" href="product-detai.html">Air Jordan 7 Retro</a>
				  <p class="ps-shoe__categories"><a href="#">Men shoes</a>,<a href="#"> Nike</a>,<a href="#"> Jordan</a></p><span class="ps-shoe__price"> £ 120</span>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="ps-shoes--carousel">
			<div class="ps-shoe">
			  <div class="ps-shoe__thumbnail"><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/shoe/4.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
			  </div>
			  <div class="ps-shoe__content">
				<div class="ps-shoe__variants">
				  <div class="ps-shoe__variant normal"><img src="images/shoe/2.jpg" alt=""><img src="images/shoe/3.jpg" alt=""><img src="images/shoe/4.jpg" alt=""><img src="images/shoe/5.jpg" alt=""></div>
				  <select class="ps-rating ps-shoe__rating">
					<option value="1">1</option>
					<option value="1">2</option>
					<option value="1">3</option>
					<option value="1">4</option>
					<option value="2">5</option>
				  </select>
				</div>
				<div class="ps-shoe__detail"><a class="ps-shoe__name" href="product-detai.html">Air Jordan 7 Retro</a>
				  <p class="ps-shoe__categories"><a href="#">Men shoes</a>,<a href="#"> Nike</a>,<a href="#"> Jordan</a></p><span class="ps-shoe__price"> £ 120</span>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="ps-shoes--carousel">
			<div class="ps-shoe">
			  <div class="ps-shoe__thumbnail">
				<div class="ps-badge"><span>New</span></div><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/shoe/5.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
			  </div>
			  <div class="ps-shoe__content">
				<div class="ps-shoe__variants">
				  <div class="ps-shoe__variant normal"><img src="images/shoe/2.jpg" alt=""><img src="images/shoe/3.jpg" alt=""><img src="images/shoe/4.jpg" alt=""><img src="images/shoe/5.jpg" alt=""></div>
				  <select class="ps-rating ps-shoe__rating">
					<option value="1">1</option>
					<option value="1">2</option>
					<option value="1">3</option>
					<option value="1">4</option>
					<option value="2">5</option>
				  </select>
				</div>
				<div class="ps-shoe__detail"><a class="ps-shoe__name" href="product-detai.html">Air Jordan 7 Retro</a>
				  <p class="ps-shoe__categories"><a href="#">Men shoes</a>,<a href="#"> Nike</a>,<a href="#"> Jordan</a></p><span class="ps-shoe__price"> £ 120</span>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="ps-shoes--carousel">
			<div class="ps-shoe">
			  <div class="ps-shoe__thumbnail"><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/shoe/6.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
			  </div>
			  <div class="ps-shoe__content">
				<div class="ps-shoe__variants">
				  <div class="ps-shoe__variant normal"><img src="images/shoe/2.jpg" alt=""><img src="images/shoe/3.jpg" alt=""><img src="images/shoe/4.jpg" alt=""><img src="images/shoe/5.jpg" alt=""></div>
				  <select class="ps-rating ps-shoe__rating">
					<option value="1">1</option>
					<option value="1">2</option>
					<option value="1">3</option>
					<option value="1">4</option>
					<option value="2">5</option>
				  </select>
				</div>
				<div class="ps-shoe__detail"><a class="ps-shoe__name" href="product-detai.html">Air Jordan 7 Retro</a>
				  <p class="ps-shoe__categories"><a href="#">Men shoes</a>,<a href="#"> Nike</a>,<a href="#"> Jordan</a></p><span class="ps-shoe__price"> £ 120</span>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <div class="ps-home-testimonial bg--parallax pb-80" data-background="images/background/parallax.jpg">
	<div class="container">
	  <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">
		<div class="ps-testimonial">
		  <div class="ps-testimonial__thumbnail"><img src="images/testimonial/1.jpg" alt=""><i class="fa fa-quote-left"></i></div>
		  <header>
			<select class="ps-rating">
			  <option value="1">1</option>
			  <option value="1">2</option>
			  <option value="1">3</option>
			  <option value="1">4</option>
			  <option value="5">5</option>
			</select>
			<p>Logan May - CEO & Founder Invision</p>
		  </header>
		  <footer>
			<p>“Dessert pudding dessert jelly beans cupcake sweet caramels gingerbread. Fruitcake biscuit cheesecake. Cookie topping sweet muffin pudding tart bear claw sugar plum croissant. “</p>
		  </footer>
		</div>
		<div class="ps-testimonial">
		  <div class="ps-testimonial__thumbnail"><img src="images/testimonial/2.jpg" alt=""><i class="fa fa-quote-left"></i></div>
		  <header>
			<select class="ps-rating">
			  <option value="1">1</option>
			  <option value="1">2</option>
			  <option value="1">3</option>
			  <option value="1">4</option>
			  <option value="5">5</option>
			</select>
			<p>Logan May - CEO & Founder Invision</p>
		  </header>
		  <footer>
			<p>“Dessert pudding dessert jelly beans cupcake sweet caramels gingerbread. Fruitcake biscuit cheesecake. Cookie topping sweet muffin pudding tart bear claw sugar plum croissant. “</p>
		  </footer>
		</div>
		<div class="ps-testimonial">
		  <div class="ps-testimonial__thumbnail"><img src="images/testimonial/3.jpg" alt=""><i class="fa fa-quote-left"></i></div>
		  <header>
			<select class="ps-rating">
			  <option value="1">1</option>
			  <option value="1">2</option>
			  <option value="1">3</option>
			  <option value="1">4</option>
			  <option value="5">5</option>
			</select>
			<p>Logan May - CEO & Founder Invision</p>
		  </header>
		  <footer>
			<p>“Dessert pudding dessert jelly beans cupcake sweet caramels gingerbread. Fruitcake biscuit cheesecake. Cookie topping sweet muffin pudding tart bear claw sugar plum croissant. “</p>
		  </footer>
		</div>
	  </div>
	</div>
  </div>
  <div class="ps-section ps-home-blog pt-80 pb-80">
	<div class="ps-container">
	  <div class="ps-section__header mb-50">
		<h2 class="ps-section__title" data-mask="News">- 我们的故事</h2>
		<div class="ps-section__action"><a class="ps-morelink text-uppercase" href="#">查看所有帖子<i class="fa fa-long-arrow-right"></i></a></div>
	  </div>
	  <div class="ps-section__content">
		<div class="row">
			  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
				<div class="ps-post">
				  <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="images/blog/1.jpg" alt=""></div>
				  <div class="ps-post__content"><a class="ps-post__title" href="#">AIR FORCE 1 SHADOW革新演绎经典 掀起“她”的球鞋浪潮</a>
					<p class="ps-post__meta"><span>作者:<a class="mr-5" href="#">Jason Kidd</a></span> -<span class="ml-5">2019年9月10日</span></p>
					<p>今年冬季Air Force 1系列荣添新品，在各种标志性特征之外又呈现新鲜设计每一款新作都以女性受众为设计考量...</p><a class="ps-morelink" href="#">阅读更多<i class="fa fa-long-arrow-right"></i></a>
				  </div>
				</div>
			  </div>
			  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
				<div class="ps-post">
				  <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="images/blog/2.jpg" alt=""></div>
				  <div class="ps-post__content"><a class="ps-post__title" href="#">出手即证明！耐克携手中国男篮发布世界杯系列产品</a>
					<p class="ps-post__meta"><span>作者:<a class="mr-5" href="#">Scottie Pippen</a></span> -<span class="ml-5">2019年6月5日</span></p>
					<p>北京时间8月8日，“耐克集团2019篮球创新峰会，助力中国男篮”活动在北京举行。耐克与中国男篮国家队携手，发布...</p><a class="ps-morelink" href="#">阅读更多<i class="fa fa-long-arrow-right"></i></a>
				  </div>
				</div>
			  </div>
			  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
				<div class="ps-post">
				  <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="images/blog/3.jpg" alt=""></div>
				  <div class="ps-post__content"><a class="ps-post__title" href="#">NIKE ALPHADUNK：一飞冲天</a>
					<p class="ps-post__meta"><span>作者:<a class="mr-5" href="#">Ross Klein</a></span> -<span class="ml-5">2019年8月8日</span></p>
					<p>球场上，篮球运动员有着各种方式在进攻端得分，有的利用灵活的脚步，有的则依靠变换的节奏……</p><a class="ps-morelink" href="#">阅读更多<i class="fa fa-long-arrow-right"></i></a>
				  </div>
				</div>
			  </div>
		</div>
	  </div>
	</div>
  </div>
  <div class="ps-home-contact">
	<div id="contact-map" data-address="New York, NY" data-title="BAKERY LOCATION!" data-zoom="17"></div>
	<div class="ps-home-contact__form">
	  <header>
		<h3>联系我们</h3>
		<p>了解我们的公司简介，社区影响力，可持续发展动机等。</p>
	  </header>
	  <footer>
		<form action="product-listing.html" method="post">
		  <div class="form-group">
			<label>姓名<span>*</span></label>
			<input class="form-control" type="text">
		  </div>
		  <div class="form-group">
			<label>邮箱<span>*</span></label>
			<input class="form-control" type="email">
		  </div>
		  <div class="form-group">
			<label>你的留言<span>*</span></label>
			<textarea class="form-control" rows="4"></textarea>
		  </div>
		  <div class="form-group text-center">
			<button class="ps-btn">发送信息<i class="fa fa-angle-right"></i></button>
		  </div>
		</form>
	  </footer>
	</div>
  </div>
  <div class="ps-subscribe">
	<div class="ps-container">
	  <div class="row">
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
			  <h3><i class="fa fa-envelope"></i>订阅电子报</h3>
			</div>
			<div class="col-lg-5 col-md-7 col-sm-12 col-xs-12 ">
			  <form class="ps-subscribe__form" action="do_action" method="post">
				<input class="form-control" type="text" placeholder="">
				<button>立即注册</button>
			  </form>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
			  <p>并获得<span>$20</span> 首次购物优惠卷</p>
			</div>
	  </div>
	</div>
  </div>
  <div class="ps-footer bg--cover" data-background="images/background/parallax.jpg">
	<div class="ps-footer__content">
	  <div class="ps-container">
		<div class="row">
			  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
				<aside class="ps-widget--footer ps-widget--info">
				  <header><a class="ps-logo" href="index.html"><img src="images/logo-white.png" alt=""></a>
					<h3 class="ps-widget__title">办公地址1</h3>
				  </header>
				  <footer>
					<p><strong>纽约西34街460号15楼</strong></p>
					<p>电子邮件：<a href='mailto:support@store.com'>support@store.com</a></p>
					<p>电话: +323 32434 5334</p>
					<p>传真: ++323 32434 5333</p>
				  </footer>
				</aside>
			  </div>
			  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
				<aside class="ps-widget--footer ps-widget--info second">
				  <header>
					<h3 class="ps-widget__title">办公室地址2</h3>
				  </header>
				  <footer>
					<p><strong>PO Box 16122 Collins Victoria 3000澳大利亚</strong></p>
					<p>电子邮件: <a href='mailto:support@store.com'>support@store.com</a></p>
					<p>电话: +323 32434 5334</p>
					<p>传真: ++323 32434 5333</p>
				  </footer>
				</aside>
			  </div>
			  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
				<aside class="ps-widget--footer ps-widget--link">
				  <header>
					<h3 class="ps-widget__title">查找我们的商店</h3>
				  </header>
				  <footer>
					<ul class="ps-list--link">
					  <li><a href="#">优惠券代码</a></li>
					  <li><a href="#">注册电子邮件</a></li>
					  <li><a href="#">网站反馈</a></li>
					  <li><a href="#">招聘</a></li>
					</ul>
				  </footer>
				</aside>
			  </div>
			  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
				<aside class="ps-widget--footer ps-widget--link">
				  <header>
					<h3 class="ps-widget__title">帮助</h3>
				  </header>
				  <footer>
					<ul class="ps-list--line">
					  <li><a href="#">订单状态</a></li>
					  <li><a href="#">运送和交付</a></li>
					  <li><a href="#">返回</a></li>
					  <li><a href="#">付款方式</a></li>
					  <li><a href="#">联系我们</a></li>
					</ul>
				  </footer>
				</aside>
			  </div>
			  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
				<aside class="ps-widget--footer ps-widget--link">
				  <header>
					<h3 class="ps-widget__title">产品</h3>
				  </header>
				  <footer>
					<ul class="ps-list--line">
					  <li><a href="#">鞋</a></li>
					  <li><a href="#">服装</a></li>
					  <li><a href="#">Accessries</a></li>
					  <li><a href="#">足球鞋</a></li>
					</ul>
				  </footer>
				</aside>
			  </div>
		</div>
	  </div>
	</div>
  </div>
</main>
<!-- JS Library-->
<script type="text/javascript" src="plugins/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="plugins/gmap3.min.js"></script>
<script type="text/javascript" src="plugins/imagesloaded.pkgd.js"></script>
<script type="text/javascript" src="plugins/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="plugins/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="plugins/slick/slick/slick.min.js"></script>
<script type="text/javascript" src="plugins/elevatezoom/jquery.elevatezoom.js"></script>
<script type="text/javascript" src="plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="plugins/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&amp;region=GB"></script>
<script type="text/javascript" src="plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<!-- Custom scripts-->
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>