<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.Nike_colorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.pojo.Nike_color">
        <id column="nc_id" property="nc_id" />
        <result column="np_id" property="np_id" />
        <result column="nc_color" property="nc_color" />
        <result column="nc_style" property="nc_style" />
        <result column="nc_images" property="nc_images" />
        <result column="nc_sales" property="nc_sales" />
    </resultMap>

    <!--根据商品编号查询颜色;-->
    <select id="colorSingle" parameterType="int" resultMap="BaseResultMap">
        select * from nike_color where np_id=#{np_id}
    </select>

</mapper>
