<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.Nike_order_detailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.pojo.Nike_order_detail">
        <id column="nod_id" property="nod_id" />
        <result column="no_id" property="no_id" />
        <result column="np_id" property="np_id" />
        <result column="node_total_money" property="node_total_money" />
    </resultMap>

</mapper>
