<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>产品分类</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../css/adminStyle.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery.min.js"></script>

</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i></i><em>产品分类</em></span>
    <span class="modular fr"><a href="add_category.html" class="pt-link-btn">+添加新分类</a></span>
  </div>

  <table class="list-style">
   <tr>
    <th>编号</th>
    <th>分类名称</th>
    <th>上级编号</th>
    <th>操作</th>
   </tr>
   <tr th:each="Nike_product_category:${nike_product_category}">
    <span  th:if="${Nike_product_category.npc_id==Nike_product_category.npc_parent_id}">
    <td>
     <input type="checkbox"/>
     <span th:text="${Nike_product_category.npc_id}"></span>
    </td>
    <td class="center" th:text="${Nike_product_category.npc_name}"></td>
    <td class="center" th:text="${Nike_product_category.npc_parent_id}"></td>
    <td class="center"><a  title="修改"><img src="../images/icon_edit.gif"/></a>
    <a title="移除"><img src="../images/icon_drop.gif"/></a></td>
    </span>
    <span  th:if="${Nike_product_category.npc_id!=Nike_product_category.npc_parent_id}">
    <td style="text-indent:2em;">
     <input type="checkbox"/>
     <span th:text="${Nike_product_category.npc_id}"></span>
    </td>
    <td class="center" th:text="${Nike_product_category.npc_name}"></td>
    <td class="center" th:text="${Nike_product_category.npc_parent_id}"></td>
    <td class="center"><a title="修改"><img src="../images/icon_edit.gif"/></a>
    <a  title="移除"><img src="../images/icon_drop.gif"/></a></td>
    </span>
   </tr>

  </table>
  <!-- BatchOperation -->
  <div style="overflow:hidden;">
   <!-- Operation -->
   <div class="BatchOperation fl">
    <input type="checkbox" id="del"/>
    <label for="del" class="btnStyle middle">全选</label>
    <input type="button" value="批量删除" class="btnStyle"/>
   </div>
  </div>
 </div>

</body>
</html>