<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.Nike_enshrineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.pojo.Nike_enshrine">
        <id column="ne_id" property="ne_id" />
        <result column="np_id" property="np_id" />
        <result column="nu_id" property="nu_id" />
    </resultMap>

</mapper>
